<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/open-iconic/font/css/open-iconic-bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}" rel="stylesheet">
<title>{% block title %}{{ this.title }}{% endblock %}</title>
<body class="no-gutters">
  <header>
    {% include 'navbar.html' %}
  </header>
  <div class="page">
    {% include 'header.html' %}
    <div class="container-fluid bg-dark">
      <div class="row flex-xl-nowrap">
        <div class="container">
          <main role="main" class="row">
            {% include this.html %}
          </main>
        </div>
      </div>
    </div>
  </div>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
</html>
