<div class="container bg-dark">
  <nav class="navbar no-background navbar-expand-lg navbar-dark fixed-top bg-dark p-5">
    <a class="navbar-brand" href="{{ '/'|url }}">
      <i class="fas fa-hand-rock"></i>
      <span class="sr-only">Web Privacy Rocks</span>
    </a>
    <label for="nav-toggle">
      <a class="btn btn-lg btn-primary navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </a>
    </label>
    <input type="checkbox" id="nav-toggle"/>
    <div class="collapse navbar-collapse hamburger-menu" id="navbarSupportedContent">
      <div class="pt-2 pl-4">
        <ul class="navbar-nav">
        	{% set menubag = 'menu' %}
        	{% for id, item in bag(menubag).items() %}
        	<li{% if this.path == item.path %} class="nav-item active" {% else %} class="nav-item"{% endif %}>
            {% set link = site.get(item.path) %}
            {% if link %}
              <a class="nav-link" href="{{ item.path|url }}">
            {% else %}
              <a class="nav-link" href="{{ item.path }}">
            {% endif %}
            {{ item.label }}
              {% if this.path == item.path %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
        	</li>
  	{% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
