<div class="card-deck mb-5">
  <a href="{{ 'data-confinement'|url }}" title="Data Confinement" class="card text-white bg-dark p-0">
    <div class="card-body">
      <i class="fas fa-archive h1 py-4"></i>
      <h3 class="card-title mb-5">Data Confinement</h3>
      <p class="card-text text-white">Central collection of personal data can be a threat since an attacker gaining access to a user's account can basically access all their data.</p>
    </div>
  </a>
  <a href="{{ 'data-store'|url }}" title="Data Store" class="card text-white bg-dark p-0">
    <div class="card-body">
      <i class="fas fa-boxes h1 py-4"></i>
      <h3 class="card-title mb-5">Data Store</h3>
      <p class="card-text text-white">When stored by third parties data subjects lose control over their documents.</p>
    </div>
  </a>
  <a href="{{ 'metadata'|url }}" title="Metadata" class="card text-white bg-dark p-0">
    <div class="card-body">
      <i class="fas fa-book-dead h1 py-4"></i>
      <h3 class="card-title mb-5">Metadata</h3>
      <p class="card-text text-white">Metadata are a way to describe data. So technically metadata are data about data.</p>
    </div>
  </a>
</div>
<div class="card-deck mb-5">
  <a href="{{ 'tracking-protection'|url }}" title="Tracking Protection" class="card text-white bg-dark p-0">
    <div class="card-body">
      <i class="fas fa-bone h1 py-4"></i>
      <h3 class="card-title mb-5">Tracking Protection</h3>
      <p class="card-text text-white">Websites collect an incredible amount of information about their visitors via attributes of the browser. This information is shared with third parties and saved in logs.</p>
    </div>
  </a>
</div>
