<div class="card-deck mb-5">
  <a href="{{ 'css'|url }}" title="CSS" class="card text-white bg-dark p-0">
    <div class="card-body">
      <i class="fas fa-code h1 py-4"></i>
      <h3 class="card-title mb-5">CSS</h3>
      <p class="card-text text-white">How can CSS be used to interact with the DOM.</p>
    </div>
  </a>
  <a href="{{ 'javascript'|url }}" title="Javascript" class="card text-white bg-dark p-0">
    <div class="card-body">
      <i class="fas fa-bug h1 py-4"></i>
      <h3 class="card-title mb-5">Javascript</h3>
      <p class="card-text text-white">JavaScript is most well-known for being the scripting language for Web pages.</p>
    </div>
   </a>
</div>
<div class="card-deck mb-5">
  <a href="{{ 'media-formats'|url }}" title="Media formats" class="card text-white bg-dark p-0">
    <div class="card-body">
      <i class="fas fa-film h1 py-4"></i>
      <h3 class="card-title mb-5">Media formats</h3>
      <p class="card-text text-white">What are media formats</p>
    </div>
  </a>
</div>
<div class="card-deck mb-5">
  <a href="{{ 'tor-browser'|url }}" title="Tor Browser" class="card text-white bg-dark p-0">
    <div class="card-body">
      <i class="fas fa-window-restore h1 py-4"></i>
      <h3 class="card-title mb-5">Designing a browser for privacy</h3>
      <p class="card-text text-white">The Tor Browser Design Requirements are meant to describe the properties of a Private Browsing Mode that defends against both network and local forensic adversaries.</p>
    </div>
  </a>
</div>
